button.button-toolbar.home,
button.button-toolbar.back,
button.button-toolbar.forward,
button.button-toolbar.rewind,
button.button-toolbar.next,
.trash {
    display: none !important;
}

#tabs-container {
    height: 30px !important;
    float: right !important;
    width: calc(55% - 70px) !important;
    margin-right: 70px;
}

.toolbar.toolbar-addressbar {
    margin-top: -34px !important;
    left: 70px;
    width: calc(45% - 70px) !important;
    float: right !important;
}

#header {
    background-color: #ef3939;
}

#header, .tab {
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1) !important;
}

.tab {
    background-color: #ef3939 !important;
    color: #fff !important;
}

.tab.active {
    background-color: #fff !important;
    color: black !important;
}

.button-tabbar.newtab {
    fill: #fff !important;
}

.tab .close {
    background-color: rgba(255,255,255,.4) !important;
    background-image: url(/resources/close-white.png) !important;
}

.tab.active .close {
    background-color: rgba(0,0,0,.1) !important;
    background-image: url(/resources/close-black.png) !important;
}

#main > .toolbar.toolbar-addressbar > .extensions-wrapper {
    position: fixed;
    right: 0;
    z-index: 1;
}